body {
  background-color: #dce2ee;
  text-align: center; }

/*grid*/
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px;
  position: relative;
  text-align: center; }

.label {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-radius: 5%;
  display: inline-block;
  width: 100px;
  margin-botom: 10px; }

.row .resultWindow {
  max-width: 100%;
  width: 200px;
  height: 200px;
  background-color: #333;
  box-shadow: 3px 6px 12px 2px rgba(0, 0, 0, 0.7);
  padding: 5% 0;
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
  line-height: 40px; }

.row img {
  margin: 0 auto; }

.row #js-playerPoints,
.row #js-computerPoints {
  font-size: 30px;
  color: #d9534f;
  font-weight: 900;
  padding: 0;
  background-color: transparent; }

.row .player {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase; }

.row #js-playerResult,
.row #js-computerResult {
  color: #5bc0de;
  font-weight: 700; }

.row #js-newGameButton {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #333;
  margin-top: 50px;
  border-radius: 5%;
  box-shadow: 3px 6px 12px 2px rgba(51, 51, 51, 0.7);
  text-transform: uppercase; }
  .row #js-newGameButton:hover {
    background-color: #d9534f;
    color: #fff; }

.gameName {
  text-align: center;
  text-transform: uppercase; }

h1, h3 {
  padding-top: 50px; }

h1 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  padding-bottom: 30px; }

h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 0;
  display: inline;
  padding-bottom: 10px; }

#js-playerPickElement button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 3px 6px 12px 2px rgba(0, 0, 0, 0.7);
  border-width: 0;
  padding: 0;
  margin: 20px;
  background-color: #fff; }
  #js-playerPickElement button:hover {
    color: #fff; }
  #js-playerPickElement button i {
    font-size: 70px;
    line-height: 90px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    position: relative; }
    #js-playerPickElement button i:hover {
      color: #fff;
      background-color: #777; }

#js-playerPickElement #js-playerPick_rock {
  color: #777;
  outline: none; }
  #js-playerPickElement #js-playerPick_rock:hover {
    background-color: #777;
    color: #fff; }
  #js-playerPickElement #js-playerPick_rock:hover i.fa {
    background-color: #777; }

#js-playerPickElement #js-playerPick_paper {
  color: #5bc0de;
  outline: none; }
  #js-playerPickElement #js-playerPick_paper:hover {
    background-color: #5bc0de;
    color: #fff; }
  #js-playerPickElement #js-playerPick_paper:hover i.fa {
    background-color: #5bc0de; }

#js-playerPickElement #js-playerPick_scissors {
  color: #d9534f;
  outline: none; }
  #js-playerPickElement #js-playerPick_scissors:hover {
    background-color: #d9534f;
    color: #fff; }
  #js-playerPickElement #js-playerPick_scissors:hover i.fa {
    background-color: #d9534f; }

.modal-body,
.modal-content,
.modal-footer {
  background-color: #dce2ee; }

.modal-content {
  box-shadow: 3px 6px 12px 2px rgba(0, 0, 0, 0.7); }
  .modal-content .modal-header {
    border-bottom: #dce2ee; }
  .modal-content .modal-title {
    font-size: 28px;
    color: #333;
    font-family: "Raleway", sans-serif; }
  .modal-content .modal-body {
    border-bottom: #dce2ee; }
    .modal-content .modal-body p {
      font-size: 56px;
      font-family: "Archivo Black", sans-serif;
      color: #333;
      text-transform: uppercase;
      font-weight: 900; }
    @media (max-width: 575px) {
      .modal-content .modal-body #js-modalWinner {
        font-size: 30px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .modal-content .modal-body #js-modalWinner {
        font-size: 34px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .modal-content .modal-body #js-modalWinner {
        font-size: 38px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .modal-content .modal-body #js-modalWinner {
        font-size: 40px; } }
  .modal-content .modal-footer {
    border-top: #dce2ee; }

/*# sourceMappingURL=style.css.map */